@charset "UTF-8";
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  box-shadow: #9B1818 0 0 0 2px;
  border-color: #9B1818;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

header {
  background-image: url(../img/top_bg.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  min-height: 644px;
  position: relative;
  font-family: "BebasBold";
  padding-bottom: 40px;
}

header a {
  color: #fff;
}

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.top_line {
  min-height: 97px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 22px 0;
}

.top_line a {
  font-size: 21px;
  border-bottom: #fff dashed 1px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.top_line a:hover {
  border-bottom: transparent 1px dashed;
  color: #fff;
}

.top_line a:visited {
  color: #fff;
}

.top_addr {
  padding-left: 50px;
  background-image: url(../img/top_map.png);
  background-repeat: no-repeat;
  background-position: left top;
  line-height: 26px;
}

.top_addr strong {
  display: block;
  color: #d12f22;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 32px;
}

.top_line .logo {
  border-bottom: none;
  position: absolute;
  margin-top: -25px;
}

.top_line .logo:hover {
  border-bottom: none;
}

.logo_wrap {
  position: relative;
  width: 210px;
  margin: auto;
}

.ta_right {
  background-image: none;
  padding-left: 0;
  text-align: right;
}

.ta_right span {
  color: #fff;
}

header h1 {
  text-align: center;
  color: #fff;
  margin-top: 68px;
  font-size: 40px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.55);
  font-family: "BebasRegular";
}

.tabs_header .wrapper .active {
  text-decoration: underline;
}

.tab_item {
  display: none;
  font-size: 15px;
}

.tab_item:first-child {
  display: block;
}

.tabs_header {
  margin: 0px 25px;
}

.tabs_header ul, .tabs_header li {
  margin: 0;
  padding: 0;
}

.tabs_header li {
  position: relative;
  margin-bottom: 8px;
}

.tabs_header .tabs .tab {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.45);
  color: #E3E3E3;
  font-size: 23px;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
  font-family: "BebasBold", sans-serif;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.tabs_header .tabs .tab.active {
  background-color: rgba(0, 0, 0, 0.65);
  color: #d12f22;
}

.tabs_header .tab_content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 12px 18px 16px;
  font-family: "RobotoRegular", sans-serif;
  color: #C0C0C0;
}

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  padding: 0 32px;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-family: "RobotoBold", sans-serif;
}

.button.btn_red {
  background-color: #9B1818;
}

.button.btn_green {
  background-color: #67bc5c;
}

.button.btn_white {
  background-color: #fff;
  color: #000;
}

.botton_wrap {
  text-align: right;
}

a.button {
  color: #fff;
  text-decoration: none;
}

.s_tizer {
  height: 100px;
  background-color: #242424;
  background-image: -webkit-linear-gradient(#242424, #5E5E5E);
  background-image: linear-gradient(#242424, #5E5E5E, , , , , , , , );
  color: #fff;
  font-family: "CleanvertisingLight";
  text-transform: uppercase;
  padding: 0 0 0 130px;
}

.s_tizer span {
  font-size: 19px;
  display: block;
}

.s_tizer strong {
  font-size: 25px;
  font-weight: normal;
  display: block;
}

.tiz_img,
.tiz_descr {
  display: inline-block;
}

.tiz_img i {
  font-size: 60px;
  line-height: 90px;
  margin-right: 0px;
  color: #d12f22;
}

.s_tizer .row > div:nth-child(1) i {
  margin-right: 0px;
}

.s_tizer .row > div:nth-child(1) span {
  font-size: 19px;
}

.s_tizer .row > div:nth-child(1) strong {
  font-size: 25px;
  line-height: 20px;
}

.s_tizer .row > div:nth-child(2) i {
  line-height: 95px;
  position: relative;
  bottom: 0px;
}

.s_tizer .row > div:nth-child(2) span {
  font-size: 19px;
}

.s_tizer .row > div:nth-child(2) strong {
  font-size: 25px;
  line-height: 20px;
}

.s_tizer .row > div:nth-child(3) i {
  line-height: 95px;
  position: relative;
  bottom: -5px;
}

.s_tizer .row > div:nth-child(3) span {
  font-size: 19px;
}

.s_tizer .row > div:nth-child(3) strong {
  font-size: 25px;
  line-height: 20px;
}

.s_tizer .row > div:nth-child(4) i {
  line-height: 95px;
  position: relative;
  bottom: -8px;
}

.s_tizer .row > div:nth-child(4) span {
  font-size: 19px;
}

.s_tizer .row > div:nth-child(4) strong {
  font-size: 25px;
  line-height: 20px;
}

section h2, footer h2 {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-align: center;
  font-weight: normal;
}

section p strong, footer p strong {
  font-family: "RobotoBold", sans-serif;
  font-weight: normal;
}

.s_profi {
  margin-top: 30px;
  margin-bottom: 45px;
}

.profi_left {
  /* Обтекание по правому краю */
}

.profi_left i {
  font-size: 100px;
  line-height: 100px;
}

.profi_right h3 {
  display: inline-block;
  margin: 0;
  color: #d12f22;
  font-size: 28px;
}

.profi_right p {
  margin-top: 5px;
  margin-bottom: 35px;
}

form {
  background-color: #F7F7F7;
  padding: 25px 30px;
  border: #67bc5c 5px solid;
  border-radius: 5px;
}

form h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-family: "RobotoBold", sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 30px;
}

form label {
  display: block;
  margin-bottom: 15px;
  color: #666;
  font-size: 14px;
}

form input,
form select {
  display: block;
  line-height: 40px;
  height: 40px;
  border: #D9D9D9 1px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
  width: 100%;
  text-indent: 10px;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 3px;
}

form input:focus,
form select:focus {
  box-shadow: #67bc5c 0 0 0 2px;
  border-radius: 3px;
  border-color: #67bc5c;
}

form .button_wrap {
  text-align: center;
  margin: 30px 0 10px;
}

.s_review {
  background-image: url(../img/middle_bg.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
  background-color: #412521;
}

.s_review h2 {
  color: #fff;
}

.review_item {
  color: #fff;
  text-align: center;
}

.review_item h4 {
  font-family: "RobotoBold", serif;
  font-style: italic;
  font-size: 22px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review_item p {
  margin: 10px auto 0;
  font-family: "RobotoBold", serif;
  display: inline-block;
  float: none;
  font-size: 20px;
}

.review_item h3 {
  font-family: "RobotoBold", serif;
  font-style: italic;
  font-size: 22px;
  color: #d12f22;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}

.review_item .image_wrap {
  text-align: center;
}

.review_item .image_wrap img {
  width: 265px;
  height: 265px;
  display: inline-block;
  border-radius: 50%;
  border: #585A5B 10px solid;
}

.hr {
  width: 80px;
  height: 1px;
  background-color: #CEA380;
  margin: auto;
}

.owl-nav div {
  width: 34px;
  height: 140px;
  background-image: url(../img/s_arrows.png);
  top: 130px;
  position: absolute;
  opacity: .6;
}

.owl-nav div:hover {
  opacity: 1;
}

.owl-nav div.owl-next {
  right: 0;
  background-position: top right;
}

.owl-dots {
  width: 100%;
  margin-top: 0px;
  text-align: center;
}

.owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background-color: #FFF;
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
  opacity: .5;
}

.owl-dots .owl-dot.active {
  opacity: .8;
}

.s_back {
  background-image: url(../img/red_bg.jpg);
  background-position: top center;
  text-align: center;
  padding: 40px 0;
}

.s_back h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 26px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 20px 0;
  color: #FFF;
}

.s_back .button {
  margin: auto;
}

.s_contacts {
  padding: 48px 0 68px;
  text-align: center;
  padding-bottom: 0;
}

.s_contacts h2 {
  display: inline-block;
  margin-bottom: -30px;
}

.contacts_center {
  text-align: center;
}

.contacts_center h2 {
  margin-top: 0px;
  font-size: 22px;
  font-family: "RobotoBold", sans-serif;
  font-weight: normal;
  color: #d12f22;
}

.map {
  margin-top: 20px;
  min-height: 480px;
  background-color: #E1D6B0;
}

footer {
  padding: 48px 0 68px;
}

footer h2 {
  color: #000;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 10px;
}

footer h3 {
  text-align: center;
  font-size: 15px;
}

footer h3 strong {
  color: #d12f22;
}

footer p {
  font-size: 18px;
  text-align: center;
}

footer .top_phone {
  text-align: center;
  color: #d12f22;
  font-size: 44px;
  font-family: "RobotoBold", sans-serif;
}

footer .button_wrap {
  text-align: center;
  margin-top: 20px;
}

#hidden_form {
  max-width: 420px;
  margin: auto;
  position: relative;
}

#hidden_form h2 {
  text-align: center;
  font-weight: normal;
}
