@import "bourbon/bourbon"

$text-color: #333
$dark-color: #000
$red-color: #9B1818
$blue-color: #003469
$green-color: #67bc5c


body 
	font-family: "RobotoRegular", sans-serif
	font-size: 16px
	min-width: 320px
	position: relative
	overflow-x: hidden //чтобы анимация не мешала скроллу

.hidden
	display: none

// .carousel img 
// 	width: 100%
// 	height: auto

// .parallax 
// 	background-attachment: fixed
// 	background-position: 50% 0
// 	position: relative



body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
	box-shadow: $red-color 0 0 0 2px
	border-color: $red-color
body input:required:valid,
body textarea:required:valid
	color: green


header 
	background-image: url(../img/top_bg.jpg)
	background-repeat: repeat-x
	background-position: top center
	min-height: 644px
	position: relative
	font-family: "BebasBold"
	padding-bottom: 40px

header a 
	color: #fff


.loader 
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner 
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

.top_line 
	min-height: 97px
	-webkit-box-shadow: rgba(255,255,255,.2) 0 0 0 1px
	box-shadow: rgba(255,255,255,.2) 0 0 0 1px
	width: 100%
	background-color: rgba(0,0,0,.6)
	padding: 22px 0

.top_line a 
	font-size: 21px
	border-bottom: #fff dashed 1px
	-webkit-transition: all .25s
	-o-transition: all .25s
	transition: all .25s

.top_line a:hover 
	border-bottom: transparent 1px dashed
	color: #fff
.top_line a:visited
	color: #fff

.top_addr 
    padding-left: 50px
    background-image: url(../img/top_map.png)
    background-repeat: no-repeat
    background-position: left top
    line-height: 26px

.top_addr strong 
    display: block
    color: #d12f22
    font-weight: normal
    text-transform: uppercase
    font-size: 32px

.top_line .logo 
	border-bottom: none
	position: absolute
	margin-top: -25px

.top_line .logo:hover 
	border-bottom: none

.logo_wrap 
	position: relative
	width: 210px
	margin: auto

.ta_right 
	background-image: none
	padding-left: 0
	text-align: right

.ta_right  span 
	color: #fff

header h1 
	text-align: center
	color: #fff
	margin-top: 68px
	font-size: 40px
	text-shadow: 0 3px rgba(0,0,0,.55)
	font-family: "BebasRegular"


//tabs акции и скидки и новости
.tabs_header .wrapper .active 
	text-decoration: underline

.tab_item
	display: none
	font-size: 15px//размер шрифта в tab_content
.tab_item:first-child 
	display: block


.tabs_header 
	// margin-top: 70px
	margin: 0px 25px
	ul, li 
		// list-style-type: none
		margin: 0
		padding: 0
	li 
		// padding-left: 20px
		position: relative
		margin-bottom: 8px //отсуп между строками списка
	.tabs
		.tab
			display: inline-block
			background-color: rgba(0,0,0,.45)	
			color: #E3E3E3
			font-size: 23px
			padding: 12px 18px
			text-transform: uppercase
			cursor: pointer //рука при наведении
			float: left
			font-family: "BebasBold", sans-serif
			+transition(all 1.0s ease)//замедление в переключ между табами
			&.active
				background-color: rgba(0,0,0,.65)	
				color: #d12f22
	.tab_content
		background-color: rgba(0,0,0,.65)
		padding: 12px 18px 16px
		font-family: "RobotoRegular", sans-serif
		color: #C0C0C0
		// text-transform: uppercase






//кнопка (общие св-ва)
.button
	border: none
	cursor: pointer
	display: inline-block
	height: 46px
	line-height: 46px
	padding: 0 32px//cверху отступ 0, по бокам - 32
	background-color: #000
	text-transform: uppercase
	text-align: center
	color: #fff
	border-radius: 3px
	font-size: 14px
	font-family: "RobotoBold", sans-serif
	&.btn_red
		background-color: $red-color
	&.btn_green
		background-color: $green-color
	&.btn_white
		background-color: #fff
		color: #000

.botton_wrap
	text-align: right

a.button 
	color: #fff
	text-decoration: none


.s_tizer
	height: 100px
	+linear-gradient(#242424, #5E5E5E)
	color: #fff
	font-family: "CleanvertisingLight"
	text-transform: uppercase
	padding: 0 0 0 130px//выравниваем на глаз по центру экрана

	span 
		font-size: 19px
		display: block
	strong
		font-size: 25px
		font-weight: normal
		display: block

.tiz_img,
.tiz_descr
	display: inline-block
	// vertical-align: bottom //чтобы все выравнивались по низу

.tiz_img i
	font-size: 60px
	line-height: 90px
	margin-right: 0px //отступ между картинкой и текстом
	color: #d12f22

.s_tizer .row 
	> div:nth-child(1)
		i
			margin-right: 0px//расстояние между 1-ой картинкой и текстом
		span 
			font-size: 19px
		strong 
			font-size: 25px
			line-height: 20px//Межстрочный интервал между верхней и нижней строкой

	> div:nth-child(2)
		i
			line-height: 95px//регулировка по высоте все конструкции в этой темной полоске
			position: relative// регулировка по 
			bottom: 0px//высоте самого значка!!!!

		span 
			font-size: 19px
		strong 
			font-size: 25px
			line-height: 20px//Межстрочный интервал между верхней и нижней строкой

	> div:nth-child(3)
		i
			line-height: 95px//регулировка по высоте все конструкции в этой темной полоске
			position: relative// регулировка по 
			bottom: -5px//высоте самого значка!!!!

		span 
			font-size: 19px
		strong 
			font-size: 25px
			line-height: 20px//Межстрочный интервал между верхней и нижней строкой

	> div:nth-child(4)
		i
			line-height: 95px//регулировка по высоте все конструкции в этой темной полоске
			position: relative// регулировка по 
			bottom: -8px//высоте самого значка!!!!

		span 
			font-size: 19px
		strong 
			font-size: 25px
			line-height: 20px//Межстрочный интервал между верхней и нижней строкой




section, footer 
	// padding: 28px 0 68px
	h2 
		// color: #000
		font-family: "CleanvertisingLight", sans-serif
		font-size: 50px
		line-height: 56px
		margin-bottom: 50px
		margin-top: 40px
		text-align: center
		font-weight: normal //толщину шрифта немного меньше делает
	
	p strong
		font-family: "RobotoBold", sans-serif
		font-weight: normal

// padding - "Красное ПОЛЕ" или же ПОЛЕ отступа для ТЕКСТА(Только ТЕКСТА).
// margin - ОТСТУП от родительского объекта, применимо только для блочных элементов типа div

.s_profi
	margin-top: 30px
	margin-bottom: 45px
.profi_left
	/* Обтекание по правому краю */
	// float: left//Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон.
	// margin-right: 20px//Устанавливает величину отступа от правого края элемента. 
	// color: #FDD9B5
	i
		font-size: 100px//размер icons
		line-height: 100px//регулировка по высоте icons

.profi_right
	h3 
		display: inline-block
		margin: 0
		color: #d12f22 
		font-size: 28px//размер шрифта
	p 
		margin-top: 5px//величина отступа по высоте
		margin-bottom: 35px

form
	background-color: #F7F7F7
	padding: 25px 30px //отсутуп от текста сверху 25, по бокам - 30
	border: $green-color 5px solid
	border-radius: 5px
	h2 
		text-transform: uppercase
		margin-top: 0
		font-family: "RobotoBold", sans-serif
		font-size: 22px
		line-height: 22px
		margin-bottom: 30px
	label 
		display: block 
		margin-bottom: 15px 
		color: #666
		font-size: 14px
	input,
	select
		display: block
		line-height: 40px
		height: 40px
		border: #D9D9D9 1px solid
		box-shadow: 0 0 20px rgba(0,0,0,.06) inset
		width: 100%
		text-indent: 10px //отодвигаем курсор в поле ввода от края на 10px
		font-size: 20px
		margin-bottom: 25px
		margin-top: 3px

		&:focus
			box-shadow: $green-color 0 0 0 2px //фокус при наведении
			border-radius: 3px
			border-color: $green-color
	.button_wrap
		text-align: center
		margin: 30px 0 10px // отступ от кнопки - сверху 30, слева/справа 0, снизу - тоже 10





.s_review
	background-image: url(../img/middle_bg.jpg)
	background-repeat: repeat-x
	background-attachment: fixed
	min-height: 500px
	background-position: top center
	background-size: cover
	background-color: #412521
	h2
		color: #fff

.review_item
	color: #fff
	text-align: center
	h4
		font-family: "RobotoBold", serif
		font-style: italic
		font-size: 22px
		font-weight: normal
		margin-top: 20px
		margin-bottom: 20px
	p 	
		margin: 10px auto 0
		font-family: "RobotoBold", serif
		display: inline-block
		float: none
		font-size: 20px
	h3
		font-family: "RobotoBold", serif
		font-style: italic
		font-size: 22px
		color: #d12f22 
		font-weight: normal
		margin-top: 20px
		margin-bottom: 5px
	.image_wrap
		text-align: center
		img 	
			width: 265px
			height: 265px
			display: inline-block
			border-radius: 50%
			border: #585A5B 10px solid

//черточка
.hr 
	width: 80px
	height: 1px
	background-color: #CEA380
	margin: auto //по центру

.owl-nav
	div
		width: 34px
		height: 140px
		background-image: url(../img/s_arrows.png)
		top: 130px
		position: absolute
		opacity: .6 // яркость
		&:hover
			opacity: 1//при наведении
		&.owl-next
			right: 0
			background-position: top right


//точки на popup
.owl-dots
	width: 100%
	margin-top: 0px
	text-align: center
	.owl-dot
		width: 14px
		height: 14px
		background-color: #FFF
		display: inline-block
		margin: 0 4px
		border-radius: 50%
		opacity: .5
		&.active
			opacity: .8




.s_back
	background-image: url(../img/red_bg.jpg)
	background-position: top center
	text-align: center
	padding: 40px 0
	h3
		margin-top: 0
		text-transform: uppercase
		font-weight: normal
		font-size: 26px
		text-align: center
		background-color: rgba(255,255,255,.13)
		padding: 20px 0
		color: #FFF
	.button 
		margin: auto



.s_contacts
	padding: 48px 0 68px
	text-align: center
	padding-bottom: 0
	h2 
		display: inline-block
		margin-bottom: -30px
.contacts_center
	text-align: center
	h2 
		margin-top: 0px
		font-size: 22px
		font-family: "RobotoBold", sans-serif
		font-weight: normal
		color: #d12f22 
.map 
	margin-top: 20px
	min-height: 480px
	background-color: #E1D6B0 



footer
	padding: 48px 0 68px
	h2
		color: #000
		text-align: center
		padding-bottom: 0
		margin-bottom: 10px
	h3
		text-align: center
		font-size: 15px
		strong 
			color: #d12f22 
	p 
		font-size: 18px
		text-align: center
	.top_phone
		text-align: center
		color: #d12f22 
		font-size: 44px;
		font-family: "RobotoBold", sans-serif;
	.button_wrap
		text-align: center
		margin-top: 20px


#hidden_form
	max-width: 420px
	margin: auto
	position: relative//чтобы крестик закрытия окна не уехал
	h2 
		text-align: center
		font-weight: normal

// .s_tizer 
// 	height: 80px
// 	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px
// 	box-shadow: rgba(255,255,255,.3) 0 0 0 1px
// 	+linear-gradient(#242424, #5E5E5E)
// 	font-family: "BebasRegular"
// 	text-transform: uppercase

// .s_tizer ul 
// 	margin: 0
// 	padding: 0
// 	list-style-type: none //убирает значки списка у списка
// 	color: #fff //цвет
// 	font-size: 23px //размер
// .s_tizer li
// 	// display: inline-block//чтобы список был в одну строку
// 	float: left
// 	// display: block
// 	padding: 0 26px 0 65px//сверху 0, а по бокам - 26
// 	line-height: 70px
// 	// border-left: #fff 1px solid//вертикальные полоски
// 	background-image: url(../img/transport131.png)
// 	background-repeat: no-repeat
// 	background-position: 20px 15px

// .s_tizer li:nth-child(2)
// 	background-image: url(../img/vehicle92.png)

// .s_tizer li:nth-child(3)
// 	background-image: url(../img/vehicle92.png)

// .s_tizer li:nth-child(4)
// 	background-image: url(../img/vehicle92.png)
